@model Bookish.Models.Member;

@{
    ViewData["Title"] = "Add New Member";
}
<div class="mb-3">
<h1>Add New Member</h1>

<div class="d-flex justify-content">
<form asp-action="Add" method="post">

    <div class="form-group mb_3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
    </div>

    <div class="form-group mb_3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
    </div>

    <div class="form-group mb_3">
        <label asp-for="Mobile"></label>
        <input asp-for="Mobile" class="form-control">
    </div>

    <div class="form-group mb_3">
        <label asp-for="DateJoined"></label>
        <input asp-for="DateJoined" class="form-control">
    </div>

    <button type="submit" class="=btn btn-primary">Save Member</button>
</form>
</div>