@model Bookish.ViewModels.BookInventoryViewModel;

@{
    ViewData["Title"] = "Add New Book";
}

<h1>Add New Book</h1>

<div class="d-flex justify-content">
<form asp-action="Add" method="post">

    <div class="form-group mb_3">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="form-group mb_3">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control">
    </div>

    <div class="form-group mb_3">
        <label asp-for="TotalCopies"></label>
        <input asp-for="TotalCopies" class="form-control">
    </div>

    <button type="submit" class="=btn btn-primary">Save Book</button>
</form>
</div>