@model List<Bookish.ViewModels.BookInventoryViewModel>;

@{
    ViewData["Title"] = "Book Catalogue";
}


<h1>Book Catalogue</h1>

<!-- <button asp-controller="BooksInventory" asp-action="Add" type="button" class="btn btn-primary">Add Book</button> -->
<a asp-controller="BookInventory" asp-action="Add" class="btn btn-primary">Add New Book</a>


    <div>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Available Copies</th>
                <th>Total Copies</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.AvailableCopies</td>
                    <td>@book.TotalCopies</td>
                    <td><a asp-action="Edit" asp-route-BookId=@book.BookId>Edit Book</a></td>
                </tr>
            }
        </tbody> 
    </table>
    </div>
  

