@model List<Bookish.ViewModels.BookInventoryViewModel>;

@{
    ViewData["Title"] = "Book Catalogue";
}


<h1>Book Catalogue</h1>

<!-- <button asp-controller="BooksInventory" asp-action="Add" type="button" class="btn btn-primary">Add Book</button> -->
<a asp-controller="BookInventory" asp-action="Add" class="btn btn-primary">Add New Book</a>

@foreach (var book in Model)
{
    <div>
    <p>Book Title: @book.Title</p>
    <p>Author: @book.Author</p>
    <p>Available Copies: @book.AvailableCopies</p>
    <p>Total Copies: @book.TotalCopies</p>
    </div>
}

