@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Bookish Libary</Thead></h1>
    
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary" asp-controller="BookInventory" asp-action="Index">Find a book!</a>
</div>